.carousel {
	position: relative;
	top: 25px;
	width: 90%;
	margin: 15px 10px;
}

.carousel .slide .legend {
	background: transparent;
	opacity: 1;
	left: 50px;
	font-family: 'Abel', cursive;
	font-size: 48px;
	color: white;
	font-weight: 800;
}

.changeBackground:hover {
	background: black;
	cursor: pointer;
	color: white;
}

.selector {
	padding: 10px;
	margin: 15px;
	writing-mode: vertical-rl;
	text-orientation: upright;
	position: relative;
	left: 20px;
	top: 20px;
}

@media screen and (max-width: 480px) {
	.carousel {
		width: 100%;
		left: 0%;
	}
}
