.carousel {
	position: relative;
	top: 25px;
	width: 40%;
	margin: 25px 10px;
}

.carousel .slide .legend {
	background: transparent;
	left: 0px;
	font-family: 'Abel', cursive;
	font-size: 48px;
	color: white;
	font-weight: 800;
}

@media screen and (max-width: 480px) {
	.carousel {
		width: 100%;
		left: 0%;
	}
}
