@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

.App {
	background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
	text-align: center;
	font-family: 'Abel', cursive;
	margin: 1%;
}
